.group-1696 {
  
    width: 85%;
margin: auto;
align-items: center;
display: flex;
flex-direction: column;
justify-content: center;
}

.most-popular-categories {
   
    /* width: 464px; */
    

    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
    letter-spacing: -0.5px;
    text-transform: capitalize;
    color: #323232;
    text-align: center;
}

.our-categories {
 
    /* width: 224px; */
    height: 43px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 180%;
    letter-spacing: 0.0015em;
    text-transform: uppercase;
    color: #A8BC25;
    text-align: center;
}


.c-d-waste{
margin-top: 4%;
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 180%;
/* identical to box height, or 29px */
letter-spacing: 0.0015em;
text-transform: uppercase;
color: #A8BC25;
text-align: center;
}

.missionunderline{
    background-color: black;
    width: 100px;
    height: 2px;
    align-items: center;
    display: flex;
    justify-content: center;
}
