/* .mainContainer{
    display: flex;
    justify-content: flex-start;
    
    width: 85%;
    margin: auto;
   height: 100%;
    margin-top: 40px;
}

.leftsideContainer{
    width: 50%;
    margin-top: 30px;
}
.welcometobuildersTreat {
    color: #6E7E1D;
    font-size: 13px;
    font-family: 'Montserrat';
   
    text-transform: uppercase; 
}
.leftsideContainer h1
  {
    font-family: 'Ubuntu';;
font-weight: bold;
font-size: 56px;
  }
  .rightsideContainer {
   
   width: 50%;
  
    position: relative;
  
   
}

  .welcomeDetails{
    font-size: 16px;
    font-family: 'Montserrat';
    color: #646464;
    line-height: 36px;
  
    padding-right: 4%;
  }

.buttongetStared{
    color: white;
    font-size: 16px;
    background-color: #6E7E1D;
    padding: 20px;
    border: none;
    font-family: 'Montserrat';
    font-weight:400;
    margin-top: 15px;
}



  



.greenborderrighttop {
    position: absolute;
    top: -25px;
    margin-left: 25px;
    width: 576px;
    height: 576px;
    background-color: #6E7E1D;
    z-index: 0; 
}

.welcomevedio {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

@media screen and (max-width: 1200px) {
    .mainContainer {
        flex-direction: column; 
        align-items: center; 
        
    }
     .rightsideContainer {
        width: 100%;
        height: 800%;
       
       
        
    }
    .leftsideContainer{
        width: 100%;
        margin-bottom:60px ;
    }
    .mainContainer{
       
       
        height: 1100px;
        
      
      
    }
}
@media screen and (max-width: 675px) {
    .rightsideContainer {
       display:none;
       
        
    }
    .mainContainer{
       
       
        height:100%;
        
      
      
    }
    .leftsideContainer{
        width: 100%;
        margin-bottom:0px;
    }
}
 */
 .mainContainer{
    display: flex;
    justify-content: flex-start;
    /* align-items: center; */
    width: 85%;
    margin: auto;
   height: 100%;
    margin-top: 40px;
}

.leftsideContainer{
    width: 46%;
    margin-top: 30px;
}
.welcometobuildersTreat {
    color: #6E7E1D;
    font-size: 13px;
    font-family: 'Montserrat';
    /* margin-bottom: -30px; */
    text-transform: uppercase; 
}
.leftsideContainer h1
  {
    font-family: 'Ubuntu';;
font-weight: bold;
font-size: 56px;
  }
  .rightsideContainer {
    /* position: relative; */
    /* width: 100%;
    margin: auto;
    position: relative;
    margin-left: 19px;
    margin-top: 20px;
    background-color: red;
   height: 800px; */
   width: 50%;
  
    position: relative;
  
   
}

  .welcomeDetails{
    font-size: 16px;
    font-family: 'Montserrat';
    color: #646464;
    line-height: 36px;
    /* margin-top: -30px; */
    padding-right: 4%;
  }

.buttongetStared{
    color: white;
    font-size: 16px;
    background-color: #6E7E1D;
    padding: 20px;
    border: none;
    font-family: 'Montserrat';
    font-weight:400;
    margin-top: 15px;
}

/* .fix
{
    width: 50%;
    height: 100%;
    background-color: blue;
} */
  



.greenborderrighttop {
    position: absolute;
    top: -25px;
    margin-left: 25px;
    width: 576px;
    height: 576px;
    background-color: #6E7E1D;
    z-index: 0; 
}

.welcomevedio {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

@media screen and (max-width: 1200px) {
    .mainContainer {
        flex-direction: column; /* Change flex direction to column */
        align-items: center; /* Adjust alignment as needed */
        justify-content: center;
        
    }
     .rightsideContainer {
        width: 100%;
        height: 800%;
       
       
        
    }
    .leftsideContainer{
        width: 100%;
        margin-bottom:60px ;
    }
    .mainContainer{
       
       
        height: 1000px;
        
      
      
    }
}
#myVideo{
    width: 566px;
    height: 566px;
}
#myVideo{
    width: 566px;
    height: 566px;
}
@media screen and (max-width: 675px) {
    .rightsideContainer {
       /* display:none; */
       
        
    }
    #myVideo{
        width: 266px;
        height: 266px;
       
    }
    .buttongetStared{
        margin-bottom: 30px;
         }
         .welcomevedio{
            margin-bottom: 30px;
         }
    .greenborderrighttop{
        position: absolute;
        width: 276px;
        height: 276px;
    }
    .leftsideContainer{
        width: 100%;
        margin-bottom:0px;
    }
    .mainContainer{
       
       
        height: 950px;
        margin-top: 75px;
        
    }
    .leftsideContainer h1
  {
    font-family: 'Ubuntu';;
font-weight: bold;
font-size: 45px;
  }
}

